<!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            {{> adminHeader}}
        </div>
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    {{> adminOffcanvas }}

    <main class="mt-5 pt-3">
        <div class="container-fluid">
            <div class="mt-4">
                <h3>Thay đổi logo đại diện</h3>
                <form method="POST" action="/admin/store/logo">
                    <div class="form-group">
                        <label for="image">Hình ảnh</label>
                        <input type="text" class="form-control" id="image" name="image">
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Xác nhận</button>
                </form>
            </div>

        </div>
    </main>
