.img-responsive{
    width: 130px;
    max-height: 80px;
}

.img-products{
  width: 254px;
  max-height: 170px
}

.img-avatar{
  height: 30px;
  width: 30px;
  border-radius:50%;
  border: 1px solid #feded9;
}